<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="../" class="navbar-brand">Template52</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Theme Flatly <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        <a class="dropdown-item" href="#">Default</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Cerulean</a>
                        <a class="dropdown-item" href="#">Cosmo</a>
                        <a class="dropdown-item" href="#">Cyborg</a>
                        <a class="dropdown-item" href="#">Darkly</a>
                        <a class="dropdown-item" href="#">Flatly</a>
                        <a class="dropdown-item" href="#">Journal</a>
                        <a class="dropdown-item" href="#">Litera</a>
                        <a class="dropdown-item" href="#">Lumen</a>
                        <a class="dropdown-item" href="#">Lux</a>
                        <a class="dropdown-item" href="#">Materia</a>
                        <a class="dropdown-item" href="#">Minty</a>
                        <a class="dropdown-item" href="#">Pulse</a>
                        <a class="dropdown-item" href="#">Sandstone</a>
                        <a class="dropdown-item" href="#">Simplex</a>
                        <a class="dropdown-item" href="#">Sketchy</a>
                        <a class="dropdown-item" href="#">Slate</a>
                        <a class="dropdown-item" href="#">Solar</a>
                        <a class="dropdown-item" href="#">Spacelab</a>
                        <a class="dropdown-item" href="#">Superhero</a>
                        <a class="dropdown-item" href="#">United</a>
                        <a class="dropdown-item" href="#">Yeti</a>
                    </div>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Help</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="https://blog.bootswatch.com/" target="_blank">Blog</a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('bootswatch') }}">Theme Flatly</a>
                </li>
            </ul>
                <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_VERIFIED') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="account">{% if app.user.firstName %}{{ app.user.firstName }}{% else %}{{ app.user.email }}{% endif %} <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="account">
                            <a class="dropdown-item" href="{{ path('profiel_edit') }}">Mijn profiel</a>
                            <a class="dropdown-item" href="#">Mijn offertes</a>
                            <a class="dropdown-item" href="#">Mijn bestellingen</a>
                            <a class="dropdown-item" href="{{ path('testmail') }}">Stuur testmail</a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Admin</a>
                            {% endif %}
{#                    <li class="nav-item">#}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('logout') }}">Afmelden</a>
{#                    </li>#}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;  Aanmelden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-primary active" role="button" href="{{ path('register') }}" style="border-color: #FFF;">Registreer</a>
{#                        <button class="nav-link btn btn-outline-primary" type="button"><a href="{{ path('register') }}">Sign up</a></button>#}
{#                        <button type="button" class="btn btn-outline-primary active">Primary</button>#}
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>