{% extends 'base.html.twig' %}

{% block title %}Adressoort index{% endblock %}

{% block body %}
    <h1>Adressoort index</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Naam</th>
{#                <th>CreatedAt</th>#}
{#                <th>UpdatedAt</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adressoort in adressoorts %}
            <tr>
{#                <td>{{ adressoort.id }}</td>#}
                <td>{{ adressoort.naam }}</td>
{#                <td>{{ adressoort.createdAt ? adressoort.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ adressoort.updatedAt ? adressoort.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>
                    <a href="{{ path('adressoort_show', {'id': adressoort.id}) }}">show</a>
                    <a href="{{ path('adressoort_edit', {'id': adressoort.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adressoort_new') }}">Create new</a>
{% endblock %}
