{% extends 'base.html.twig' %}

{% block title %} | Wijzig {{ user.fullName }}{% endblock %}

{% block body %}

    {% include 'flash/flash.html.twig' %}

    <div class="container">
        <div class="bs-docs-section clearfix">

            <div class="row">
                <div class=" col-12">

                    <h1 class="mt-3 mb-4">Wijzig {{ user.fullName }}</h1>

                    {{ include('user/_form_edit.html.twig', {'button_label': 'Wijzigen'}) }}

                    {# <a href="{{ path('user_index') }}">back to list</a> #}

{#                    {{ include('user/_delete_form.html.twig') }}#}

                </div>
            </div>

        </div>
    </div>

{% endblock %}
